@import "root.css";

* {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    apple color emoji, segoe ui emoji, Segoe UI Symbol, noto color emoji;

  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body.registration {
  background-image: url("/assets/images/studying.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: rgba(130, 3, 0, 0.5);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  min-height: 180px;
  border-style: solid;
  border-radius: 15px;
  border-color: rgba(130, 2, 0, 0.61);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1.header {
  white-space: nowrap;
  text-align: center;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  border-style: solid;
  border-radius: 8px;
  text-align: center;
  height: 30px;
  width: 100%;
}

.btn:hover {
  background-color: inherit;
}

.btn:active {
  background-color: gray;
}

.btn-primary {
  background-color: var(--color-teal);
  border-color: var(--color-orange);
}

footer {
  font-family: "consolas";
  font-size: 10pt;
}

input {
  color: white;
  background-color: var(--color-maroon);
  border-color: var(--color-red);
  margin-bottom: 20px;
  border-radius: 10px;
  height: 30px;
  width: 100%;
  text-align: center;
}

input:invalid {
  color: red;
}

input:valid {
  color: wheat;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  width: 100%;
  gap: 20px;
}

.login-container {
  height: 380px;
  width: 380px;
}

.lable {
  text-align: left;
}

.signup-container {
  width: 380px;
  height: 480px;
}
